html
{
  position: relative;
  min-height: 100%;
}

body
{
  margin-bottom: 56px;
}

.footer
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 56px;
  color: white;
}

.footer-text
{
  /* center text in the footer */
  margin-top: 18px;
}

.navbar
{
  margin-bottom: 0;
}

.jumbotron
{
  position: relative;
  width: 100%;
  height: 400px;
  padding: 0;
  font-family: 'IM Fell English SC', serif;
  box-shadow: 10px 5px 20px 2px lightslategrey;
}

.jumbotron .overlay
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: auto;
  background: linear-gradient(#333, black);
  opacity: 0.7;
}

.jumbotron .background-image
{
  height: 100%;
  background-image: url("../images/news-2444778_960_720.jpg");
  background-size: cover;
}

.jumbotron .caption
{
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
}

.jumbotron .caption h1,
.jumbotron .caption p
{
  color: white;
}

.jumbotron h1
{
  font-size: 80px;
  font-weight: 800;
}

.jumbotron p
{
  font-size: 30px;
}

textarea
{
  padding: 10px;
  resize: none;
}

.bootbox-body .btn
{
  float: right;
  margin: 5px;
}

.note.list-group-item
{
  padding: 30px;
}

.note.list-group-item .btn
{
  position: relative;
  bottom: 10px;
}

.scrape-new:hover,
.btn:hover,
button:hover
{
  cursor: pointer;
}
